main{
    max-width: 960px;
    margin: 0 auto;
}

.card{
    position: relative;
    float: left;
    margin: 20px;
}
.card .badge{
    position: absolute;
    top: 10px;
    right: 10px;

}

footer p{
    margin-top: 200px;
}