/* ancho max y margin */
main{
    max-width: 960px;
    margin: 0 auto;
}

/* cards posicion relative y las flotamos a la izq
para que esten en linea */
.card{
    position: relative;
    float: left;
    margin: 20px;
}

/* posicion absolute para poder separarlo de la card y 
moverlo independiente */
.card .badge{
    position: absolute;
    top: 10px;
    right: 10px;

}

/* bajo el footer */
footer p{
    margin-top: 200px;
}