body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-weight: normal;
    margin-left: 30px;
}

li{
    list-style: none;
}

.titulo{
    font-weight: bold;
    font-size: 15px;
}

label:not(.titulo){
    font-size: 10px;
}

span.requerido{
    color: #cc0000;
}

option, input, select{
    height: 25px;
    margin-top: 15px;
}

#nombre, #municipio,#codigopostal #pais, #telefonofijo, #telefonomovil, select{
    width:200px;
}

#apellido1, #apellido2, #email, #direccion{
    width:400px;
}



#nombre span{
    float: left;
}


li:nth-of-type(2){
    float: left;
    margin-left: 400px;
    top: 0;
}

#dccon input,
#dccon select {
    display: block; /* ocupa toda la línea dentro del span */
}


















li:nth-of-type(3){
    margin-top: 500px;

}
