#bloque{
    width: 100%;
    display: flex;            /*filas en forma flexible */
    flex-direction: column;   /*filas se ponen una debajo de otra */
    align-items: center;      /* centra filas horizontalmente */
    gap: 50px;                /*espacio entre filas (gap separa hijos autom치ticamente) */
    margin-top: 50px;         /* espacio arriba del bloque (margin es individual)*/
}

.fila1, .fila2, .fila3{
    display: flex;            /*im치genes se en fila */
    justify-content: center;  /* Centra im치genes en la fila */
    gap: 50px;                /* espacio entre im치genes dentro de la fila (gap funciona en flex/grid) */
}

