/* le doy color de fondo a la caja y mas relleno */
nav{
    background-color: rgb(193, 193, 193);
    border: 1px solid grey;
    padding: 15px;
}

/* quito la decoracion de los enlaces y cambio estilo */
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* floto siguiente a la derecha */
.siguiente{
    float: right;
}